// Colors
$light-txt: rgb(182, 182, 182);
$brand-dark: #993247;
$d-grey: #403d3e;
$body-bg: #f6f3f2;

// Fonts
$font-base: "Open Sans", sans-serif;

// Links
$transition: all 0.5s ease;

// Media query
$tablet: 43.75em;
$desktop: 64em;
