:root{
    --light-txt: rgb(182, 182, 182);
    --brand-dark: #993247;
    --d-grey: #403d3e;
    --font-base: "Poppins", serif;
    --transition: all 0.5s ease;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: black;
    background-color: #f6f3f2;
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin: 0;
}

.txt-thin {
    font-weight: 100;
    font-style: normal;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    padding: 0;
}

h1{
    font-weight: 200;
    font-size: 5rem;
}

nav li{
    font-weight: 300;
}

footer{
    background-color: var(--d-grey);
    color: white;
    display: grid;
    padding: 3rem;
    grid-template-columns:  minmax(25rem, 30rem) 1fr 1fr 1fr;
    grid-template-rows: minmax(auto, 25rem) 1fr;
}

footer h5{
    font-size: 1rem;
    font-weight: 200;
}

#form-subs{
    display: flex;
    flex-direction: column;
    max-width: 15em;
    gap: 1rem;
}
#footer-subs p{
    font-size: .55rem;
    font-weight: 200;
    line-height: .8rem;
}
#footer-subs a{
    color: #fff;
}

.footer-links{
    line-height: 2rem;
}

.footer-links li{
    list-style-type: none;
}

.footer-links li a{
    color: #fff;
    text-decoration: none;
}

#cert-logos img{
    margin: 0 .5rem;
    max-height: 3.2rem;
}